In [1]:
import numpy as np
import pandas as pd

In [2]:
file = 'samplespecialchar.xlsx'

In [4]:
my_data = pd.read_excel(file)

In [6]:
print(my_data.head(2))

             Name            City      State          Phone
0  A R D%$@#anish  Da*r$-b&ha@nga    Bih%$ar   1234$%567890
1   A R Ra$@#shid  Mad*$h-ub&a@ni  $@Bih%$ar  424%4$%567891

In [10]:
for column in my_data.columns:
  print(column)
  print(my_data[column])
  #df[column] = df[s]

Name
0    A R D%$@#anish
1     A R Ra$@#shid
2      Sonu Kh%$@an
3       Qama$r%@# J
4         Ka$#vya%$
Name: Name, dtype: object
City
0    Da*r$-b&ha@nga
1    Mad*$h-ub&a@ni
2        Pat*$t&na@
3         G*a-&y$a@
4    Gha*z$ia-b&@ad
Name: City, dtype: object
State
0       Bih%$ar
1     $@Bih%$ar
2      %Bih%$ar
3       %Bih$ar
4    #@*Bih%$ar
Name: State, dtype: object
Phone
0       1234$%567890
1      424%4$%567891
2     5#@434$%567892
3     1&*234$%567893
4    123*&4$%56#7894
Name: Phone, dtype: object

In [11]:
for index, row in my_data.iterrows():
  print(index, row)

0 Name     A R D%$@#anish
City     Da*r$-b&ha@nga
State           Bih%$ar
Phone      1234$%567890
Name: 0, dtype: object
1 Name      A R Ra$@#shid
City     Mad*$h-ub&a@ni
State         $@Bih%$ar
Phone     424%4$%567891
Name: 1, dtype: object
2 Name       Sonu Kh%$@an
City         Pat*$t&na@
State          %Bih%$ar
Phone    5#@434$%567892
Name: 2, dtype: object
3 Name        Qama$r%@# J
City          G*a-&y$a@
State           %Bih$ar
Phone    1&*234$%567893
Name: 3, dtype: object
4 Name           Ka$#vya%$
City      Gha*z$ia-b&@ad
State         #@*Bih%$ar
Phone    123*&4$%56#7894
Name: 4, dtype: object

In [9]:
print(my_data.shape)

(5, 4)

In [13]:
my_columns = my_data.columns.tolist()
print(my_columns)

['Name', 'City', 'State', 'Phone']

In [16]:

for index, row in my_data.iterrows():
  for col in my_columns:
    celldata = row[col]
    print(celldata, end='\n\n')

A R D%$@#anish

Da*r$-b&ha@nga

Bih%$ar

1234$%567890

A R Ra$@#shid

Mad*$h-ub&a@ni

$@Bih%$ar

424%4$%567891

Sonu Kh%$@an

Pat*$t&na@

%Bih%$ar

5#@434$%567892

Qama$r%@# J

G*a-&y$a@

%Bih$ar

1&*234$%567893

Ka$#vya%$

Gha*z$ia-b&@ad

#@*Bih%$ar

123*&4$%56#7894

In [21]:
#orgspecialcharlst = ['&', '#', '*', ';', '\'', '?', '"','%', '{', '}', '<', '>', '\\', '/', '|', '^', '~', '[', ']']
newspecialcharlst = ['$', '-', '@', '&', '#', '*', ';', '\'', '?', '"','%', '{', '}', '<', '>', '\\', '/', '|', '^', '~', '[', ']']
#for spcchar in specialcharlst:
#  print(spcchar, end =" == \n")
my_columns = my_data.columns.tolist()
for index, row in my_data.iterrows():
  for col in my_columns:
    temp=""
    celldata = row[col]
    for char in celldata:
      if char in newspecialcharlst:
        continue
      else:
        temp+=char
    celldata=temp
    print(celldata, end='\n\n')

A R Danish

Darbhanga

Bihar

1234567890

A R Rashid

Madhubani

Bihar

4244567891

Sonu Khan

Pattna

Bihar

5434567892

Qamar J

Gaya

Bihar

1234567893

Kavya

Ghaziabad

Bihar

1234567894

In [22]:
my_data.head(2)

             Name            City      State          Phone
0  A R D%$@#anish  Da*r$-b&ha@nga    Bih%$ar   1234$%567890
1   A R Ra$@#shid  Mad*$h-ub&a@ni  $@Bih%$ar  424%4$%567891

In [23]:
#orgspecialcharlst = ['&', '#', '*', ';', '\'', '?', '"','%', '{', '}', '<', '>', '\\', '/', '|', '^', '~', '[', ']']
newspecialcharlst = ['$', '-', '@', '&', '#', '*', ';', '\'', '?', '"','%', '{', '}', '<', '>', '\\', '/', '|', '^', '~', '[', ']']
#for spcchar in specialcharlst:
#  print(spcchar, end =" == \n")
my_columns = my_data.columns.tolist()
for index, row in my_data.iterrows():
  for col in my_columns:
    temp=""
    celldata = row[col]
    for char in celldata:
      if char in newspecialcharlst:
        continue
      else:
        temp+=char
    row[col]=temp
    print(temp, end='\n\n')

A R Danish

Darbhanga

Bihar

1234567890

A R Rashid

Madhubani

Bihar

4244567891

Sonu Khan

Pattna

Bihar

5434567892

Qamar J

Gaya

Bihar

1234567893

Kavya

Ghaziabad

Bihar

1234567894

In [24]:
my_data.head(2)

         Name       City  State       Phone
0  A R Danish  Darbhanga  Bihar  1234567890
1  A R Rashid  Madhubani  Bihar  4244567891

In [25]:
my_data

         Name       City  State       Phone
0  A R Danish  Darbhanga  Bihar  1234567890
1  A R Rashid  Madhubani  Bihar  4244567891
2   Sonu Khan     Pattna  Bihar  5434567892
3     Qamar J       Gaya  Bihar  1234567893
4       Kavya  Ghaziabad  Bihar  1234567894

In [26]:
my_data.to_excel("removedspecialcharindata.xlsx")